{% if ansible_architecture == 'x86_64' %}
deb [arch=amd64] {{ docker_apt_url }} {{ ansible_distribution_release | lower }} stable
{% else %}
deb [arch=s390x] {{ docker_apt_url }} {{ ansible_distribution_release | lower }} stable
{% endif %}
